.row{
    display: flex;
    height: 20rem;
}


.question{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    align-self: center;
}

.answer {
    align-self: center;
    text-align: center;
    font-size: 1.2rem;
}


