.section {
  margin: 5rem auto;
}
@media screen and (min-width: 992px) {
  .section {
    width: 195vw;
  }
}
.section-center {
  margin: 0px;
  width: 900vw;
  height: 250px;
  max-width: 500px;
  position: relative;
}
.person-img {
  margin-bottom: 1rem;
  width: 1550px;
  height: 550px;
}
article {
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}