/* .section {
  margin: 1rem auto;
} */

@media screen and (min-width: 992px) {
  .section {
    width: 195vw;
  }
}

.section-center {
  display: flex;
  justify-content: center;
  text-align: center;

  position: relative;
  margin-left: 0px !important;
  padding: 0px !important;
  
}

.person-img {
  /* width changes the width */
  width: 1250px;
  height: 550px;
}

article {
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 0;
  transition: var(--transition);
  
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}