.card {
    width: 18rem;
    padding: 0px;
}

.cardImg {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
}

.teachers {
    font-size: .75vw;
}

.modal-header {
    background-color: rgb(255, 183, 183);
    margin: 0;
    border: 0;
}
