.navbar-color{
    background-color: #8B0000;
    justify-content: left;
}

.me-auto {
    font-size: 120%;
    display: flex;
    
}

.nav-link {
    color: white;
    font-family: sans-serif;
    padding-left: 5%;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.nav-links:hover {
    color: rgb(216, 212, 212); 
    }

.navbar {
    width:100vw;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .navbar {
        min-height: 7rem;
    }

    #logo {
        display: none;
    }
}

#logo {
    width: 12.5%;
    height: 15%;
}
    

