.classRow {
    height:5rem;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 1rem;
}

.classesContainer {
    padding-left:4rem;
    padding-right:4rem;
}

.cardRow {
    padding-top: 2.5rem;
}


