

.classRow {
    height:5rem;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Tilt Neon', sans-serif;
    padding-top: 1rem;
    margin-bottom: 2rem;

    text-transform: uppercase;
	background: linear-gradient(to right, #F52977,#0091AD);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.classesContainer {
    padding-left:4rem;
    padding-right:4rem;
}

.cardRow {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.firstInRow {
    display:none;
}

.lastInRow2 {
    display:none;
}


@media only screen and (max-width: 1530px) {
    footer {
        height: 4vh !important;
    }

    .lastInRow {
        display: none;
    }
    .firstInRow {
        display: block;
    }

    .lastInRow2 {
        display: block;
    }
    .firstInRow2 {
        display: none;
    }
}