footer {
    display: block;
    width: 100%;
    height: 7.5vh;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #8B0000;
    color: white;
    height: 100%;
}

@media only screen and (max-width: 1001px) {
    footer {
        height: 4vh !important;
    }
}