footer {
    display: flex;
    align-items: center;
    width: 100%;
    background-color:  #8B0000;
    height: 4vw;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: fit-content;
    background-color:  #8B0000;
    padding: 0;
}

.footertext {
    font-size: 1.3rem;
    text-align: center;
}
